//Create a copy of this file and change the extension to .h
//That file is stored locally and is not pushed in GitHub. Please remain this as part of the repository.

#define DB_HOST "localhost"   
#define DB_USERNAME "seguridad"
#define DB_PASSWORD "!S3cur3."
#define DB_NAME "MarketPlaceDB"