<div class="animated fadeIn fast bg-light view-height">
    <div class="jumbotron bg-transparent pb-0">
        <div class=" mr-0 pr-0"> 
            <div class="row">
                <h1 class="col-sm-12">CI0143 - Seguridad de Sistemas Computacionales </h1>
                <h3 class="h3-home col-sm-12">Universidad de Costa Rica</h3>
    
                <div class="col-sm-6 mt-4">
                    <p class="p-home">El sistema a desarrollar permite colocar artículos para su venta por Internet a usuarios registra-dos. Los artículos puestos en venta pueden ser adquiridos por usuarios registrados en el sistema,aunque el acceso a las páginas con la información de los artículos en venta debe estar disponiblepara todo público.</p>
                </div>
            </div>
      </div>
    </div>

    <div class="mt-5 wallpaper">
    </div>
    <div class="container">
        <div class="col-12 info-line bg-light"> 
            <div class="row">
                <h3 class="col-12 text-center mt-3 mb-5 pb-2">Qué puedo hacer en está página?</h3>
                <div class="col-sm-12 col-md-3 text-center mb-3">
                    <a href=""><i class="text-center fas fa-plus home-icon"></i>
                    </a>
                    <h4 class="mt-3">Agregar productos para la venta</h4>
                    <small class="text-info">Debes estar registrado</small>
                </div>
                <div class="col-sm-12 col-md-3 text-center mb-3">
                    <a href=""><i class="text-center fas fa-eye home-icon"></i>
                    </a>                <h4 class="mt-3">Consultar productos en venta</h4>
                </div>
                <div class="col-sm-12 col-md-3 text-center mb-3">
                    <a href="/appWebSeguridad/register.cgi"><i class="fas fa-user text-center home-icon"></i></a>
                    <h4 class="mt-3">Registrarte en la página</h4>
    
                </div>
               
                <div class="col-sm-12 col-md-3 text-center mb-3" >
                    <a href=""><i class="text-center fas fa-comments home-icon"></i></a>
                    <h4 class="mt-3">Realizar comentarios</h4>
                </div>
                
            </div>
        </div>
    </div>
    
</div>