<div class='modal fade' id='exampleModal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Agregue información de pago</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <form method='POST' action='/appWebSeguridad/buy_car.cgi'>
            <div class='form-group'>
                <label for='price' class='col-form-label'>Número de tarjeta</label>
                <input type='hidden' class='form-control' id='price' name='price' value='PRICEE'>
              </div>
          <div class='form-group'>
            <label for='card_number' class='col-form-label'>Número de tarjeta</label>
            <input type='text' class='form-control' id='card_number' name='card_number' maxlength='17' placeholder='xxxxxxxxxxxxxxx' required>
          </div>
          <div class='form-group'>
            <label for='card_expiry' class='col-form-label'>Fecha de vencimiento de la tarjeta</label>
            <input type='text' class='form-control' id='card_expiry' name='card_expiry' maxlength='5' placeholder='mm/yy' required>
          </div>
          <div class='form-group'>
            <label for='card_cvv' class='col-form-label'>Código de seguridad de la tarjeta</label>
            <input type='text' class='form-control' id='card_cvv' name='card_cvv' maxlength='4' placeholder='xxx' required>
          </div>

          <div class='form-group'>
            <label for='card_owner' class='col-form-label'>Dueño de la tarjeta</label>
            <input type='text' class='form-control' id='card_owner' name='card_owner' maxlength='30' placeholder='Pepe Perez' required>
          </div>

          <div class='form-group'>
            <label for='card_type'>Eije un tipo de tarjeta</label>
            <select class='form-control' id='card_type' name='card_type' required>
              <option value='Visa'>Visa</option>
              <option value='Mastercard'>Mastercard</option>
              <option value='AmericanExpress'>American Express</option>
            </select>
          </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancelar <i class='bi bi-x-square-fill'></i></button>
        <button type='submit' class='btn btn-info'>Comprar <i class='bi bi-credit-card-fill' style='font-size: 1rem;'></i></button>
      </div>
    </form>
    </div>
  </div>
</div>